@import '../../commons/colors.scss';

.Header__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10vh;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    background:linear-gradient(135deg, $pink-primary 0%,$blue-primary 100%);

    .Header__Title {
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }

    .Header__Coordinates {
        color: white;
    }
}

